<% include ../partials/header %>

<div class="card">
  <div class="card-header">
    <h1 class="text-center">
      Dashboard
    </h1>
  </div>
  <div class="card-body">
    <div class="list-group">
      <a href="/users" class="list-group-item list-group-item-action">
        Users
      </a>
      <a href="/chapters" class="list-group-item list-group-item-action">
        Chapters
      </a>
      <a href="/events" class="list-group-item list-group-item-action">
        Events
      </a>
    </div>
  </div>
</div>

<% include ../partials/footer %>
