<% include ../partials/header %>

<div class="card jumbotron">
  <div class="card-header">
    <div class="">
      <div class="">
        <h1 class="align-center text-center">
          Users
          <a
            class="btn btn-success btn-lg float-right"
            role="button"
            aria-pressed="true"
            href="/users/new"
            >New user</a
          >
          <!-- <a role="button" class="btn btn-success " href="/users/new">New user</button> -->
        </h1>
      </div>
    </div>
  </div>
  <div class="card-body mb-2">
      <% users.forEach(function(user){ %>
      <div class="border shadow mb-2 p-5 bg-gradient-light bg-white">
        <table class="table table-bordered">
          <tbody>
            <% ["firstName","lastName", "email", "date"].forEach(function(name){
            %>
            <tr>
              <th class="border-top-0"><%= name %></th>
              <td><%= user[name] %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <div class="text-center">
          <button
            type="button"
            class="btn btn-danger"
            onclick="removeUser('<%= user.id %>')"
          >
            Remove
          </button>
        </div>
      </div>
      <% }) %>
  </div>
</div>

<% include ../partials/footer %>
