        <div class="ui inverted vertical footer segment form-page center aligned">
          <div class="ui container">
            <p ">by <a href="https://github.com/muzakparov">Bakhtiiar Muzakparov</a></p>
          </div>
        </div>

    </body>
</html>