        </div>
        <script src="/reload/reload.js"></script>
        <script type="text/javascript">
         
        </script>
       
        <script>
           $(document).ready(function() {
             $('#tag_ids').multiselect();
             $('#sponsors_id').multiselect();
            });

            //caret is in the middle, switch it to right
        $(".caret").css('float', 'right');
        $(".caret").css('margin', '8px 0');
            // add script front-end here
            function removeUser(userId) {
                console.log('userid',userId, )

                const formData = new FormData();
                formData.append('userId', userId);

                return fetch('/users/delete', {
                    method: 'DELETE',
                    body: formData
                }).then(response => response.json()).then(()=>{
                    location.reload();

                })

               
            }
          </script>
    </body>
</html>